<div class="container-fluid">
    <div class="row p-5 bg-body-tertiary textFord">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <img src="https://www.ford.com.ph/content/dam/Ford/website-assets/ap/ph/home/new-logo-1.png" alt="Logo" 
        width="100" height="40" class="d-inline-block align-text-top">
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h5">Websites</p>
            <div class="mb-2">
                <a href="https://www.facebook.com/FordPhilippines" target="_blank"
                 class="textFord text-decoration-none"><img src="https://cdn.icon-icons.com/icons2/1/PNG/256/social_facebook_fb_35.png" alt="Logo" 
                 width="50" height="50" class="d-inline-block align-text-top"></a>
            </div>
            <div class="mb-2">
                <a href="https://twitter.com/FordPhilippines" target="_blank"
                class="textFord text-decoration-none"><img src="https://cdn-icons-png.flaticon.com/256/0/654.png" alt="Logo" 
                width="50" height="50" class="d-inline-block align-text-top"></a>
            </div>
            <div class="mb-2">
                <a href="https://www.instagram.com/fordphilippines/" target="_blank"
                class="textFord text-decoration-none"><img src="https://cdn-icons-png.flaticon.com/256/1384/1384015.png" alt="Logo" 
                width="50" height="50" class="d-inline-block align-text-top"></a>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h5">Information</p>
            <div class="mb-2">
                <a href="https://www.ford.com.ph/about-ford/" target="_blank" class="textFord text-decoration-none">About Ford</a>
            </div>
            <div class="mb-2">
                <a href="https://www.ford.com.ph/owner/contact-us/" target="_blank" class="textFord text-decoration-none">Contact Us</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h5">Sales</p>
            <div class="mb-2">
                <a href="https://www.ford.com.ph/#" target="_blank" class="textFord text-decoration-none">Visit our sales platform</a>
            </div>
        </div>
        <div class="col-xs-12 pt-4">
            <p class="text-center">Copyright - All rights reserve &copy; 2023</p>
        </div>
    </div>
</div>
